.title {
    text-align: center;
}

.square {
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;	
}

.container {
    height: 500px;
    width: 960px;
    font-size: 0;
    margin: auto;
}

#reset {
    height: 20px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-self: center;
}